 // sass-lint:disable-all
 $theme: (1:#c8954e, 2:#e6bf5e, 3:#b15d2c, 4:#fbf0e5, 5:#8c8f11, 6:#e3d23a, 7:#42b983, 8:#ffeeb0);
 $themeRgb: (1:(200, 149, 78), 2:(230, 191, 94), 3:(177, 93, 44), 4:(251, 240, 229), 5:(140, 143, 17), 6:(227, 210, 58), 7:(66, 185, 131), 8:(255, 238, 176));
 :root {
     @each $n,
     $c in $theme {
         --theme-#{$n}: #{$c};
     }
     @each $n,
     $c in $themeRgb {
         --themeRgb-#{$n}: #{$c};
     }
 }
 
 $color: ("blue":blue, "black":black, "indigo":indigo, "green":#4caf50, "red": #ff5252);
 $size: (5:5px, 10:10px, 15:15px, 20:20px, 25:25px);
 @each $c,
 $col in $color {
     @each $n,
     $s in $size {
         .bordered-left-#{$n}-#{$c} {
             border-left: $s solid $col !important;
         }
     }
 }
 
 $color: ("white": rgb(255, 255, 255), "lightblue": rgb(33, 150, 243), "success":rgb(78, 175, 80), "indigo":rgb(75, 0, 13), "warning":#fb8c00, "error":#ff5252, "black":#000000);
 @each $c,
 $col in $color {
     .glow-#{$c} {
         -moz-box-shadow: 0px 3px 5px -1px rgba($col, 0.2), 0px 5px 8px 0px rgba($col, 0.14), 0px 1px 14px 0px rgba($col, 0.12) !important;
         -webkit-box-shadow: 0px 3px 5px -1px rgba($col, 0.2), 0px 5px 8px 0px rgba($col, 0.14), 0px 1px 14px 0px rgba($col, 0.12) !important;
         box-shadow: 0px 3px 5px -1px rgba($col, 0.2), 0px 5px 8px 0px rgba($col, 0.14), 0px 1px 14px 0px rgba($col, 0.12) !important;
     }
     .glow-lg-#{$c} {
         -moz-box-shadow: 0px 0px 78px -14px rgba($col, 1) !important;
         -webkit-box-shadow: 0px 0px 78px -14px rgba($col, 1) !important;
         box-shadow: 0px 0px 45px -14px rgba($col, 1) !important;
     }
 }
 
 @each $c,
 $col in $theme {
     .glow-#{$c} {
         box-shadow: 0px 3px 5px -1px rgba($col, 0.2), 0px 5px 8px 0px rgba($col, 0.14), 0px 1px 14px 0px rgba($col, 0.12) !important;
     }
 }